<!DOCTYPE html>
<html>
  <head>
    <%- include('./template/head'); %>
  </head>
  <body>
    <%- include('./template/loader'); %>
    
    <div class="container-fluid">
      <div class="row min-vh-100 center">

        <div class="col-md-4 center">
          <div class="center card-template center-text">
            <h3>URL Submit</h3>
            <a type="button" class="btn btn-primary" href="/url">Next</a>
          </div>
        </div>
        <div class="col-md-4 center">
          <div class="center card-template center-text">
            <h3>Scraper</h3>
            <a type="button" class="btn btn-primary" href="/scraper">Next</a>
          </div>
        </div>

        <div class="col-md-4 center">
          <div class="center card-template center-text">
            <h3>Analyze Data</h3>
            <a type="button" class="btn btn-primary" href="/data">Next</a>
          </div>
        </div>

      </div>
    </div>
    
  </body>
</html>
