<div class="container-fluid container-loader center" id="container-loader">
     <div class="wrapper">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
     </div>
</div>


